{% extends 'base.html.twig' %}



{% block body %}

   <header class="v-header-all containeur">

            <div class="fullscreen-image-wrap-all">
            </div>

            <div class="header-overlay-all">
            </div>

        <div class="header-content-all">


            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

            <h1> {{ current_category ? current_category.name : 'Recettes' }} </h1>

           


        </div>

    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                        {# if we are on /category/{slug} or /products ? #}
                        {% if current_category %}
                            <li class="breadcrumb-item"><a href="{{ path('recettes_list') }}">Recettes</a></li>
                            <li class="breadcrumb-item active">{{ current_category.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item active">Recettes</li>
                        {% endif %}
                        {% if current_diet %}
                            <li class="breadcrumb-item active">{{ current_diet.name }}</li>
                        {% else %}

                        {% endif %}
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div  class="container mt-3">
            <div class="row">
                <div class="col-sm">
                    <div class="card mx-auto" id="search-box">
                        <h1 class="search-home">On cuisine quoi aujourd'hui ? </h1>
                        <div id="search" class="card-body  mx-auto text-center">
                            <!-- Search form -->
                            <form class="form-inline mr-auto">
                                <input class="form-control form-control-lg mr-sm-2 center" type="text" placeholder="Rechercher une recette" aria-label="Rechercher">
                                <button class="btn blue-gradient btn-rounded  btn-lg my-0" type="submit">Rechercher</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
 <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card border-warning bg-grey mb-3">
                    <div class="card-header bg-light  text-uppercase"><i class="fa fa-list"></i> Catégories</div>
                    <ul class="list-group category_block">
                        {% for category in categories %}
                            <li class="list-group-item  {{ current_category == category ? 'active' : '' }}">
                                <a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card border-warning bg-grey mb-3">
                    <div class="card-header bg-light  text-uppercase"><i class="fa fa-list"></i> Tag</div>
                    <ul class="list-group category_block">
                        {% for diet in diets %}
                            <li class="list-group-item {{ current_diet == diet ? 'active' : '' }}">
                                <a href="{{ path('diet_show', {slug: diet.slug}) }}">{{ diet.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>                
            </div>
            

            <div class="col">
                <div class="row">
                    {% for recette in recettes %}
                      <div class="col-sm d-flex align-items-stretch">
                            <div class="card mx-auto">
                                <img class="card-img-top img-fluid" src="{{asset('img/quiche.jpg')}}" alt="Card image cap">
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"><a href="{{ path('recette_show', {slug: recette.slug}) }}" title="View Product">{{ recette.title }}</a></h4>
                                    <div class="user-synop">
                                        <img class="icon-user" src="{{asset('img/wonder_icon.png')}}" alt="Card image cap">
                                        <p class="user-name">{{recette.user.firstname}}</p>

                                    </div>
                                    <div class="rating">
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>

                                    </div>

                                    <p class="card-text">{{ recette.description }}</p>

                                </div>
                                <div class="col">
                                    <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                        <a href="{{ path('recette_show', {slug: recette.slug}) }}" class="btn btn-amber btn-block ">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}







































                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Précédent</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Suivant</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

