{% extends 'base.html.twig' %}

{% block title %}Nut nut Food !
{% endblock %}

{% block body %}

    <header class="v-header-all containeur">

        <div class="fullscreen-image-wrap-all"></div>

        <div class="header-overlay-all"></div>

        <div class="header-content-all">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
            <h1>
                {{user.firstname}}</h1>
        </div>


    </header>

    <div class="container" id="main-recette">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{path('home')}}">Accueil</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Fooder
                    {{user.firstname}}
                    #{{user.id}}</li>
            </ol>
        </nav>

        {# Le profil du fooder #}
        <div class="row">
            <div class="col ">
                <div class="card mx-auto w-75">
                    <img src="{{asset(user.image)}}" class="card-img-top-user" alt="...">
                    <div class="rating">
                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{user.firstname}}</h4>
                        <h5 class="card-title">{{user.age}}</h5>
                        <h5 class="card-title">{{user.city}}</h5>
                        <p class="card-text">{{user.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        {# Les recettes qu'il propose #}
        <div class="container mt-3">
            <h1 class="category">Ses Recettes :</h1>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        {% for recette in recettes %}
                            <div class="col-3">
                                <div class="card">
                                    <a href="{{ path('recette_show', {slug: recette.slug}) }}" title="{{recette.title}}"><img class="card-img-top img-fluid mx-auto" src="{{asset(recette.photo)}}" alt="{{recette.title}}"></a>
                                    <div class="card-body d-flex flex-column">
                                        <h4 class="card-title">
                                            <a href="{{ path('recette_show', {slug: recette.slug}) }}" title="{{recette.title}}">{{recette.title | slice (0,30) | trim(0123456789102030405060)}}...</a>
                                        </h4>

                                        <div class="rating">
                                            {% if recette.note > 0 %}
                                                {% set nb_etoiles = 5 %}
                                                {% for i in 1..nb_etoiles %}
                                                    {% if recette.note >= i %}
                                                        <img src="{{asset('img/noix-check.png')}}">
                                                    {% else %}
                                                        <img src="{{asset('img/noix.png')}}">
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <p class="card-text">{{recette.description| slice (0,80)}}...</p>
                                    </div>

                                    <div class="col mb-2">
                                        {% for diet in recette.diet %}
                                            <span class="badge badge-success mx-auto">{{diet.name}}</span>
                                        {% endfor %}
                                        <span class="badge badge-success mx-auto">{{recette.category}}</span>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                            <a href="{{ path('recette_show', {slug: recette.slug}) }}" class="btn btn-amber btn-block ">Voir
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination justify-content-center">
                    {% if current_page != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('fooder_show', {'firstname':user.firstname,'id':user.id, 'page': current_page - 1}) }}">Précédent</a>
                        </li>
                    {% endif %}

                    {% for p in range(max(current_page-3, 1), min(current_page+3, max_pages)) %}
                        <li class="page-item {{ (current_page == p) ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('fooder_show', {'firstname':user.firstname,'id':user.id, 'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}

                    {% if current_page != max_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('fooder_show', {'firstname':user.firstname,'id':user.id, 'page': current_page + 1}) }}">Suivant</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {# Les avis à propos du fooder #}
        <div class="container mt-3">
            <h2 class="category">AVIS :
            </h2>
            <div class="row">
                {% if notes %}
                    {% for note in notes %}
                        <div class="col-3 mb-3">
                            <div class="card" style="height:250px">
                                <div class="card-body d-flex flex-column">
                                    <div class="user-synop">
                                        <img class="rounded-circle icon-user" src="{{asset(note.user.image)}}" alt="{{note.user.firstname}}">
                                        <a class="user-name" href="{{ path('fooder_show', {'firstname':note.user.firstname,'id':note.user.id}) }}">{{note.user.firstname}}
                                            {{note.user.lastname|slice(0, 1)}}</a>
                                    </div>
                                    <div class="rating mt-2">
                                        {% set nb_etoiles = 5 %}
                                        {% for i in 1..nb_etoiles %}
                                            {% if note.note >= i %}
                                                <img src="{{asset('img/noix-check.png')}}">
                                            {% else %}
                                                <img src="{{asset('img/noix.png')}}">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p class="card-text">{{note.commentaire}}</p>
                                </div>
                                <div class="card-footer bg-transparent border-warning">
                                    <em class="align-right">Ajouté le
                                        {{note.creationDate|date("m/d/Y")}}
                                    </em>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-6 offset-3 text-center">
                        <p>L'utilisateur n'a pas encore eu d'avis.</p>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>


    <main id="main">
        <div class="infos" id="infos"></div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-sm">
                    <div class="card" id="search-box">
                        <h1 class="search-home">On cuisine quoi aujourd'hui ?
                        </h1>
                        <div
                            id="search" class="card-body text-center">
                            <!-- Search form -->
                            <form class="form-inline mr-auto" action="{{path('recettes_list')}}">
                                <button class="btn blue-gradient btn-rounded btn-lg my-0">Rechercher une recette</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


{% endblock %}
