{% extends 'base.html.twig' %}

{% block title %}Nutnut-Food{% endblock %}

{% block body %}
    <header class="v-header containeur">
        <div class="fullscreen-video-wrap">
        </div>
        <div class="header-overlay">
        </div>

        <div class="header-content">
            <img src="./img/logo.png" alt="" class="img-fluid">

            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

            <h2>Apporte les ingrédients, je t'apprends à les cuisiner. </h2>

            <h1>
                Rāmen          
                <span id="js-rotating"> des patates/du chocolat/des pâtes/ta semoule</span>
                , je t'apprends à cuisiner
                <span id="js-rotating-2">un gratin/un brownie/des lasagnes/du couscous</span>
            </h1>

        </div>

        <div class="icone">
            <a href="#main"><i class="fas fa-angle-double-down"></i></a>
        </div>
    </header>

    <main id="main">
        <div class="infos" id="infos">
        </div>

        <div  class="container mt-3">
            <div class="row">
                <div class="col-sm">
                    <div class="card mx-auto" id="search-box">
                        <h1 class="search-home">On cuisine quoi aujourd'hui ? </h1>
                        <div id="search" class="card-body  mx-auto text-center">
                            <!-- Search form -->
                            <form class="form-inline mr-auto">
                                <button class="btn blue-gradient btn-rounded  btn-lg my-0" type="submit"> <a href="{{ path('recettes_list') }} ">Rechercher une recette</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container mt-3">
        <h1 class="category">Les Nouvelles Recettes :  </h1>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    {% for last_recette in last_recettes %}
                        <div class="col-sm d-flex align-items-stretch">
                            <div class="card mx-auto">
                                <a href="{{ path('recette_show', {slug: last_recette.slug}) }}" title="{{last_recette.title}}"><img class="card-img-top img-fluid mx-auto" src="{{asset(last_recette.photo)}}" style="width:254.6px; height:247px"></a>
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"><a href="{{ path('recette_show', {slug: last_recette.slug}) }}" title="{{last_recette.title}}">{{last_recette.title | slice (0,30) }}...</a></h4>
                                    <div class="user-synop">
                                        <img class="icon-user" src="{{asset(last_recette.user.image)}}" alt="Photo de profil">
                                        <a class="user-name" href="{{ path('fooder_show', {'firstname':last_recette.user.firstname,'id':last_recette.user.id}) }}" title="Voir le profil">{{last_recette.user.firstname}}</a>
                                    </div>
                                    <div class="rating">
                                        {% if last_recette.note > 0 %}                              
                                            {% set nb_etoiles = 5 %}
                                            {% for i in 1..nb_etoiles %}
                                                {% if last_recette.note >= i %}
                                                    <img src="{{asset('img/noix-check.png')}}">
                                                {% else %}
                                                    <img src="{{asset('img/noix.png')}}">
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <p class="card-text">{{last_recette.description | slice (0,80)}}...</p>
                                </div>
                                <div class="col mb-2">
                                    {% for diet in last_recette.diet %}
                                        <span class="badge badge-success mx-auto">{{diet.name}}</span>  
                                    {% endfor %}
                                    <span class="badge badge-success mx-auto">{{last_recette.category}}</span>      
                                </div>
                                <div class="col mx-auto">
                                    <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                        <a href="{{ path('recette_show', {slug: last_recette.slug}) }}" class="btn btn-amber btn-block ">Voir </a>
                                    </div>
                                </div>                 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h1 class="category">A la une :  </h1>
        <div class="row">       
            {% for category in categories %}
                <div id="best-category" class="col-lg-3 col-sm-6 ">   
                    <div class="view overlay">
                        <a href="{{ path('category_show', {slug: category.slug})}}" title="{{category.name}}">
                            <img src="{{ category.photo }}" class="img-fluid" alt="{{category.name}}">
                            <p class="mask flex-center rgba-red-strong white-text">{{category.name}}</p>
                        </a>
                    </div>
                    <p class="sub-vign"><a href="{{ path('category_show', {slug: category.slug})}}" alt="{{category.name}}">Voir les {{category.name}}s →</a></p>
                </div>
            {% endfor %}
        </div>    
    </div>

    <div class="container mt-3">
        <h1 class="category">Recettes au top : </h1>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    {% for bestRecette in bestRecettes %}
                        <div class="col-sm d-flex align-items-stretch">
                            <div class="card mx-auto">
                                <a href="{{ path('recette_show', {slug: bestRecette.slug}) }}" title="{{bestRecette.title}}">
                                    <img class="card-img-top img-fluid mx-auto" src="{{asset(bestRecette.photo)}}" style="width:254.6px; height:247px" alt="{{ bestRecette.title }}" >
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"><a href="{{ path('recette_show', {slug: bestRecette.slug}) }}" title="{{bestRecette.title}}">{{bestRecette.title | slice (0,30) | trim(0123456789102030405060708090)}}...</a></h4>
                                    <div class="user-synop">
                                        <img class="rounded-circle icon-user" src="{{asset(bestRecette.user.image)}}" alt="Image">
                                        <a class="user-name" href="{{ path('fooder_show', {'firstname':bestRecette.user.firstname,'id':bestRecette.user.id}) }}" title="Voir le profil">{{bestRecette.user.firstname}}</a>
                                    </div>
                                    <div class="rating">
                                        {% if bestRecette.note > 0 %}                              
                                            {% set nb_etoiles = 5 %}
                                            {% for i in 1..nb_etoiles %}
                                                {% if bestRecette.note >= i %}
                                                    <img src="{{asset('img/noix-check.png')}}">
                                                {% else %}
                                                    <img src="{{asset('img/noix.png')}}">
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <p class="card-text">{{bestRecette.description | slice (0,80)}}...</p>
                                </div>
                            <div class="col mb-2">
                                    {% for diet in bestRecette.diet %}
                                        <span class="badge badge-success mx-auto">{{diet.name}}</span> 
                                    {% endfor %}
                                    <span class="badge badge-success mx-auto">{{bestRecette.category}}</span>  
                                </div>
                                <div class="col">
                                    <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                        <a href="{{ path('recette_show', {slug: bestRecette.slug}) }}" class="btn btn-amber btn-block ">Voir </a>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}