    {% extends 'base.html.twig' %}

    {% block title %}Nutnut-Food{% endblock %}

    {% block body %}
        <header class="v-header containeur">
                <div class="fullscreen-video-wrap">
                    </div>
                    <div class="header-overlay">
                    </div>

            <div class="header-content">
                <img src="./img/logo.png" alt="" class="img-fluid">

                <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

                <h2>Apporte les ingrédients, je t'apprends à les cuisiner. </h2>

                <h1>
                    Ramenes          
                    <span id="js-rotating"> des patates/du chocolat/des pâtes/ta semoule</span>
                    , je t'apprends à cuisiner
                    <span id="js-rotating-2">un gratin/un brownie/des lasagnes/du couscous</span>
                </h1>

                <h2></h2>
                    <button type="button" class="btn btn-light-green">En savoir plus</button>
                </div>

            <div class="icone">
                <a href="#main"><i class="fas fa-angle-double-down"></i></a>
            </div>

        </header>

        <main id="main">
        <div class="infos" id="infos">

        
        
            </div>





        <div  class="container mt-3">
            <div class="row">
                <div class="col-sm">
                    <div class="card mx-auto" id="search-box">
                        <h1 class="search-home">On cuisine quoi aujourd'hui ? </h1>
                        <div id="search" class="card-body  mx-auto text-center">
                            <!-- Search form -->
                            <form class="form-inline mr-auto">
                                <input class="form-control form-control-lg mr-sm-2 center" type="text" placeholder="Rechercher une recette" aria-label="Rechercher">
                                <button class="btn blue-gradient btn-rounded  btn-lg my-0" type="submit">Rechercher</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>

        <div class="container mt-3">
                <h1 class="category">Les Nouvelles Recettes :  </h1>

            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="row">
                        {% for last_recette in last_recettes %}
                            <div class="col-sm d-flex align-items-stretch">
                                <div class="card">
                                            <img class="card-img-top img-fluid" src="img/quiche.jpg" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                            <h4 class="card-title"><a href="{{ path('recette_show', {slug: last_recette.slug}) }}" title="View Product">{{last_recette.title}}</a></h4>
                                        <div class="user-synop">
                                            <img class="icon-user" src="img/wonder_icon.png" alt="Card image cap">
                                            <p class="user-name"> {{last_recette.user.firstname}}</p>
                                        </div>
                                        <div class="rating">
                                                <span class=""><img src="img/noix-check.png"></span>
                                                <span class=""><img src="img/noix-check.png"></span>
                                                <span class=""><img src="img/noix-check.png"></span>
                                                <span class=""><img src="img/noix-check.png"></span>
                                                <span class=""><img src="img/noix-check.png"></span>
                                        </div>

                                            <p class="card-text">{{last_recette.description}}</p>
                                    </div>
                                    <div class="col">
                                            <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                            <a href="{{ path('recette_show', {slug: last_recette.slug}) }}" class="btn btn-amber btn-block ">Voir </a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <div class="container">
        <h1 class="category">A la une :  </h1>
            <div class="row">       
                {% for category in categories %}

                    <div id="best-category" class="col-lg-3 col-sm-6 ">   

                        <div class="view overlay">
                                <img src="img/salad.jpg" class="img-fluid " alt="smaple image">
                                <p class="mask flex-center rgba-red-strong white-text">{{category.name}}</p>
                        </div>
                        <p class="sub-vign"><a href="{{ path('category_show', {slug: category.slug})}}" title="View Product">Voir les {{category.name}} →</a></p>

                    </div>
                {% endfor %}
            </div>
                
    </div>


            <div class="container mt-3">
        <h1 class="category">Recettes au top : </h1>

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="row">
                        {% for bestRecette in bestRecettes %}
                        <div class="col-sm d-flex align-items-stretch">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="img/quiche.jpg" alt="Card image cap">
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"><a href="{{ path('recette_show', {slug: bestRecette.slug}) }}" title="View Product">{{bestRecette.title}}</a></h4>
                                    <div class="user-synop">
                                        <img class="icon-user" src="img/wonder_icon.png" alt="Card image cap">
                                        <p class="user-name"> Wonder Woman</p>

                                    </div>
                                    <div class="rating">
                                        <span class=""><img src="img/noix-check.png"></span>
                                        <span class=""><img src="img/noix-check.png"></span>
                                        <span class=""><img src="img/noix-check.png"></span>
                                        <span class=""><img src="img/noix-check.png"></span>
                                        <span class=""><img src="img/noix-check.png"></span>
                                    </div>

                                    <p class="card-text">{{bestRecette.description}}</p>

                                </div>
                                <div class="col">
                                    <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                        <a href="{{ path('recette_show', {slug: bestRecette.slug}) }}" class="btn btn-amber btn-block ">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
