{{ form_start(form) }}
    {{ form_widget(form) }}
      {{ form_row(form.ingredients) }}
  <a href="#" id="add_ingredient" class="btn btn-default">Ajouter un ingredient</a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        var $container = $('div#scr_form_recette_ingredients');
        var $index = $container.find(':input').lenght;

        $('#add_ingredient').click(function(e) {
            addIngredient($container);
            e.preventDefault();
            return false;
        });

        if (index == 0) {
            addIngredient($container);
        } else {
            $container.children('div').each(function(){
                addDeleteLink($(this));
            });
        }

        function addIngredient($container){
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Ingredient n°' + (index+1))
                .replace(/__name__/g,         index)
                ;

            var $prototype = $(template);

            addDeleteLink($prototype);
            $container.append($prototype);
            
        }

        
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

        

