{% extends 'base.html.twig' %}

{% block title %}Diet index{% endblock %}

{% block body %}
    <h1>Diet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diet in diets %}
            <tr>
                <td>{{ diet.id }}</td>
                <td>{{ diet.name }}</td>
                <td>{{ diet.slug }}</td>
                <td>
                    <a href="{{ path('diet_show', {'id': diet.id}) }}">show</a>
                    <a href="{{ path('diet_edit', {'id': diet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diet_new') }}">Create new</a>
{% endblock %}
