{% extends 'base.html.twig' %}

{% block title %}Diet{% endblock %}

{% block body %}
    <h1>Diet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diet.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ diet.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ diet.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diet_index') }}">back to list</a>

    <a href="{{ path('diet_edit', {'id': diet.id}) }}">edit</a>

    {{ include('diet/_delete_form.html.twig') }}
{% endblock %}
