<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link
            rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <!-- Bootstrap core CSS -->
            <link
            href=" {{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link
            href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
            <!-- Your custom styles (optional) -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/creation_recette.css') }}" rel="stylesheet">
            <link href="{{ asset('css/profil_user.css') }}" rel="stylesheet">
            <link href="{{ asset('css/board_user.css') }}" rel="stylesheet">

            <link rel="stylesheet" href=" {{ asset('bower_components/Morphext/dist/morphext.css') }}">
        {% endblock %}
    </head>

    <body>
    {% block nav %}
        <nav class="navbar navbar-expand-md navbar-light bg-light position-fixed w-100 sticky-top  {{ app.session.flashbag.peek('{{title}}')|length > 0 ? '' : 'mb-5' }}">
            <div class="container">
                <a class="navbar-brand" href="{{path('home')}}">
                    <img src="{{ asset('img/logo.png')}}" height="30" alt="Nut nut Food Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                    {% set current_route = app.request.attributes.get('_route') %}

                    <ul class="navbar-nav m-auto">
                        <li class="nav-item {{ current_route == 'home' ? 'active' : '' }}">
                            <a class="nav-link" href="{{path('home')}}">Accueil</a>
                        </li>
                        <li class="nav-item {{ current_route == 'recettes_list' ? 'active' : '' }}">
                            <a class="nav-link" href="{{path('recettes_list') }}">Recettes</a>
                        </li>
                        <li class="nav-item {{ current_route == 'contact' ? 'active' : '' }}">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>

                    <div class="my-2 my-lg-0">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <a href="{{ path('user', {'id': app.user.id}) }}"><img src="{{ asset(app.user.image) }}" width="50" height="50" alt="Mon profil"></a>

                            <a type="button" class="btn btn-outline-danger waves-effect" href="{{path('app_logout')}}">Déconnexion</a>
                        {% else %}
                            <button type="button" class="btn btn-outline-success waves-effect"  data-toggle="modal" data-target="#login">Se connecter</button>
                        {% endif %}
                    </div>
                </div>


            </nav>


            <!-- Modal de connexion -->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Connexion à votre compte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Formulaire de connexion -->
                        <div class="modal-body">


                            <form method="post" action="{{ path('app_login') }}">
                                <div class="md-form">
                                    <i class="fas fa-user prefix"></i>
                                    <input type="text" value="" name="username" id="inputUsername" class="form-control" required autofocus>
                                    <label for="inputUsername">E-mail
                                    </label>
                                </div>
                                <div class="md-form">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                    <label for="inputPassword">Mot de passe</label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                                    <p class="mdp_forget">
                                        <a href="{{ path('forget_password') }} ">Mot de passe oublié</a>
                                    </p>
                                </div>
                                <button type="submit" class="btn btn-primary">Se connecter</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" href="{{ path('security_registration') }}">Créer un compte</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}


        <div
            class="flash">
            {# Affiche tous les messages flash de notre application #}

            {% for type, messages in app.flashes %}

                {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endfor %}

            {% endfor %}

        </div>


        {% block body %}{% endblock %}


        <!-- Footer -->
        <footer class="text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-4 col-xl-3">
                        <h5 style="color: #eca72c;">A propos</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p class="mb-0">
                            Avec Nut Nut Food, rencontre des passionés de cuisine, apprends les recettes de tes rêves en apportant seulement tes ingredients.
                        </p>
                    </div>


                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                        <h5 style="color: #eca72c;">Mentions legales</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{path('faq')}}">FAQ</a>
                            </li>
                            <li>
                                <a href="{{path('mentionslegales')}}">Mentions Legales</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h5 style="color: #eca72c;">Suivez-nous</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h5 style="color: #eca72c;">Contact</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-home mr-2"></i>
                                NUT NUT FOOD</li>
                            <li>
                                <i class="fa fa-envelope mr-2"></i>
                                nutnut@food.com</li>
                            <li>
                                <i class="fa fa-phone mr-2"></i>
                                04 22 52 10 10</li>
                            <li>
                                <i class="fa fa-print mr-2"></i>
                                04 22 52 10 10</li>
                        </ul>
                    </div>
                    <div class="col-12 copyright mt-3">
                        <p class="float-left">
                            <a href="#">Haut de la page</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.7/d3.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{{ asset('bower_components/Morphext/dist/morphext.min.js')}}"></script>
            <script src="js/style.js"></script>

            <!-- Include Google Maps JS API -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCSgxB6dbOb-29V2L0LW4TCC86UED1lePc"></script>
            <script type="text/javascript" src="js/autocomplete.js"></script>
        {% endblock %}


    </body>
</html>
