{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container mt-5 mb-3" id="board">
        <h2>Tableau de bord</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="row mt-0">
                    <div class="col ">
                        <div class="list-group" id="list-tab">
                            <a class="list-group-item list-group-item-action" id="list-home-list" href="{{path('user')}}">Tableau de bord</a>
                            <a class="list-group-item list-group-item-action active" id="list-profile-list" href="{{path('user_edit' )}}">Modifier mon profil</a>
                            <a class="list-group-item list-group-item-action" id="list-creation-list" href="{{path('user_recettes')}}">Mes recettes</a>
                            <a class="list-group-item list-group-item-action" id="list-interest-list" href="{{path('user_interests')}}">Intêrets</a>
                            <a class="list-group-item list-group-item-action" id="list-interest-list" href="{{path('user_mod_mdp')}}">Modifier mon mot de passe</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-0" id="ajout">
                        <a type="button" class="btn btn-amber btn-lg" href="{{path('recette_new')}}">Ajouter une Recette<i class="fas fa-plus fa-2x"></i></a> 
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card mx-auto p-3">
                    {{ include('user/_form.html.twig', {'button_label': 'Valider la modification'}) }}                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}