{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
        <div class="container mt-5 mb-3" id="board">
            <h2>Tableau de bord</h2>
            <div class="row">
                <div class="col-lg-4 mt-5">
                    <div class="list-group" id="list-tab">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" href="{{path('user', {id: user.id})}}">Tableau de bord</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" href="{{path('user_edit', {id: user.id} )}}">Modifier mon profil</a>
                        <a class="list-group-item list-group-item-action" id="list-creation-list" href="{{path('user_recettes', {id: user.id})}}">Mes recettes</a>
                        <a class="list-group-item list-group-item-action" id="list-interest-list" href="interest_user.html">Intêrets</a>
                    </div>
                </div>
                <div class="col mb-5">
                <div class="card mx-auto p-3 mb-3 mt-3" style="width: 75%;">
                        <img src="{{asset('img/wonder_icon.png')}}" width="auto" height="257px" class="card-img-top-user"  alt="image profil">
                        <div class="rating">
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>


                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{user.firstname}} {{user.lastname}} </h4>
                          <h5 class="card-title">{{user.age}}</h5>
                          <h5 class="card-title">{{user.username}}</h5>
                          <h5 class="card-title">{{user.city}}</h5>
                          <h4 class="card-title">{{user.adresse}}</h4>
                          <p class="card-text">{{user.description}}</p>
                        </div>             
                </div>
                </div>
            </div>
        </div>

        <!-- Recettes proposées -->
            <div class="container border border-grey rounded mb-3">
                <h2>Recettes proposées :</h2>
                <div class="row mx-auto mb-3">
                 {% for recette in user.recettes %}
                <div class="card col-sm-6 col-md-4 col-lg-3 mx-auto mb-3" style="width: 18rem;">
               
                    

                    <img class="card-img-top" src="{{asset('img/junk.jpg')}}" width="255px" height="236px" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"><a href="{{ path('recette_show', {slug: recette.slug}) }}" title="View Product">{{recette.title}}</a></h4>
                        <div class="rating">
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>



                         <p class="card-text">{{recette.note.note}}</p>

                        </div>
                        <p class="card-text">{{recette.description}}</p>
                    </div>
                                
                </div>       
               {% endfor %}
            </div>       
                    

            <!-- Evenement auxquels j'ai participé -->
            <div class="container border border-grey rounded mb-3">
                <h2>Evenements terminés :</h2>
                    <div class="row mx-auto">
                         {% for recette in user.recettes %}
                      <div class="col-sm d-flex align-items-stretch">
                            <div class="card mx-auto">
                                <img class="card-img-top img-fluid" src="{{asset('img/quiche.jpg')}}" width="255px" height="236px" alt="Card image cap">
                                <div class="card-body d-flex flex-column">
                                    <h4 class="card-title"><a href="{{ path('recette_show', {slug: recette.slug}) }}" title="View Product">{{ recette.title }}</a></h4>
                                    <div class="user-synop">
                                        <img class="icon-user" src="{{asset('img/wonder_icon.png')}}" alt="Card image cap">
                                        <p class="user-name">{{recette.user.firstname}}</p>

                                    </div>
                                    <div class="rating">
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                                        <span class=""><img src="{{asset('img/noix-check.png')}}"></span>

                                    </div>

                                    <p class="card-text">{{ recette.description }}</p>

                                </div>
                                <div class="col">
                                    <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                        <a href="{{ path('recette_show', {slug: recette.slug}) }}" class="btn btn-amber btn-block ">Voir</a>
                                        <a href="{{ path('recette_show', {slug: recette.slug}) }}" class="btn btn-success mt-1 btn-block ">Noter</a>
                                    
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    {% endfor %}
                    </div>
            </div>





{% endblock %}
