{% extends 'base.html.twig' %}

    {% block body %}

                <div class="container border border-grey rounded mb-3">
                <h2>Recettes proposées :</h2>
                <div class="row mx-auto mb-3">

                 {% for recette in user.recettes %}
                <div class="card col-sm-6 col-md-4 col-lg-3 mx-auto mb-3" style="width: 18rem;">
               
                    

                    <img class="card-img-top" src="{{asset('img/junk.jpg')}}" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"><a href="" title="View Product">{{recette.title}}</a></h4>
                        <div class="rating">
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>
                            <span class=""><img src="{{asset('img/noix-check.png')}}"></span>


                         <p class="card-text">{{recette.note.note}}</p>

                        </div>
                        <p class="card-text">{{recette.description}}</p>
                    </div>
                                
                </div>       
               {% endfor %}
            </div>  

    {% endblock %}     
                    
