{% extends 'base.html.twig' %}

    {% block body %}

    <!-- Tableau de bord -->
        <div class="container mt-5 mb-3" id="board">
            <h2>Mes recettes</h2>    
            <div class="row">
                <div class="col-lg-4 mt-5">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" href="{{path('user', {id: user.id})}}">Tableau de bord</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" href="{{path('user_edit', {id: user.id} )}}">Modifier mon profil</a>
                        <a class="list-group-item list-group-item-action" id="list-creation-list" href="{{path('user_recettes', {id: user.id})}}">Mes recettes</a>
                        <a class="list-group-item list-group-item-action" id="list-interest-list" href="interest_user.html">Intêrets</a>                    
                </div> 
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3 mt-3" id="ajout">
                    <button type="button" class="btn btn-outline-success btn-lg">Ajouter une Recette</button> 
                </div>
            </div>
        </div>

        <div class="container border border-grey rounded mb-3">
            <h2>Mes recettes en cours :</h2>
                {% for recette in user.recettes %}
                <div class="row mx-auto mb-3">
                    <div class="card col-sm-6 col-md-4 col-lg-3 mx-auto mb-3" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset(recette.photo) }}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title"><a href="product.html" title="View Product">{{recette.title}}</a></h4>
                            <div class="rating">
                                <span class=""><img src="{{asset('img/noix-check.png')}}">{{recette.note.note}}</span>
                            </div>
                            <p class="card-text">{{recette.description}}</p>
                        </div>
                        <div class="col">
                            <div class="card-footer bg-transparent border-warning mt-auto align-self-end">
                                <a href="/recettes/mon-poulet-coco-7" class="btn btn-amber btn-block ">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
        </div>  

    {% endblock %}   